{% extends "header.html" %} 
{% block body %}
<html>
<body>
<div class="main-container">
    <div class="content-container">
        <nav class="sidenav">
            <section class="sidenav-content">
                <section class="nav-group collapsible">
                    <input id="tabexample1" type="checkbox">
                    <label for="tabexample1">vCenter API's</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                    </ul>
                </section>
                <section class="nav-group collapsible">
                    <input id="tabexample2" type="checkbox">
                    <label for="tabexample2">vRealize Automation API's</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                    </ul>
                </section>
                <section class="nav-group collapsible">
                    <input id="tabexample3" type="checkbox">
                    <label for="tabexample3">NSX API's</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                    </ul>
                </section>
                <section class="nav-group collapsible">
                    <input id="tabexample4" type="checkbox">
                    <label for="tabexample4">vRealize Operations API's</label>
                    <ul class="nav-list">
                        <li><a class="nav-link">Link 1</a></li>
                        <li><a class="nav-link">Link 2</a></li>
                    </ul>
                </section>
            </section>
        </nav>
    </div>
</div>
</body>
</html>
{% endblock %}