{% extends "header.html" %} {% block body %}
<html>

<body>
    <style>
        form .form-block>label {
            font-size: 22px;
        }
    </style>
    <div class="main-container">
        <form method="POST">
            <section class="form-block">
                <label class="test">vCenter Configuration</label>
                <div class="form-group">
                    <label for="vcenterurl">vCenter Server URL</label>
                    <input type="text" name="vcenterurl" placeholder="https://vcenter.example.domain" size="45" value="{{request.form.vcenterurl}}">
                </div>
                <div class="form-group">
                    <label for="vcenteruser">vCenter Server Username</label>
                    <input type="text" name="vcenteruser" placeholder="administrator@vsphere.local" size="45" value="{{request.form.vcenteruser}}">
                </div>
                <div class="form-group">
                    <label for="vcenterpassword">vCenter User Password</label>
                    <input type="password" name="vcenterpassword" placeholder="Password" value="{{request.form.vcenterpassword}}">
                </div>
                <label>vRealize Automation Configuration</label>
                <div class="form-group">
                    <label for="vraurl">vRA API URL</label>
                    <input type="text" name="vraurl" placeholder="https://vra-server.example.domain" size="45" value="{{request.form.vraurl}}">
                </div>
                <div class="form-group">
                    <label for="vratenant">vRA Tenant Name</label>
                    <input type="text" name="vratenant" placeholder="vsphere.local" size="45" value="{{request.form.vratenant}}">
                </div>
                <div class="form-group">
                    <label for="vrauser">vRA Username</label>
                    <input type="text" name="vrauser" placeholder="administrator@vsphere.local" size="45" value="{{request.form.vrauser}}">
                </div>
                <div class="form-group">
                    <label for="vrapass">vRA Password</label>
                    <input type="password" name="vrapass" placeholder="Password" value="{{request.form.vrapass}}">
                </div>
                <label>NSX Configuration</label>
                <div class="form-group">
                    <label for="nsxurl">NSX API URL</label>
                    <input type="text" name="nsxurl" placeholder="https://nsx-manager.example.domain" size="45" value="{{request.form.nsxurl}}">
                </div>
                <div class="form-group">
                    <label for="nsxuser">NSX Username</label>
                    <input type="text" name="nsxuser" placeholder="administrator@vsphere.local" size="45" value="{{request.form.nsxuser}}">
                </div>
                <div class="form-group">
                    <label for="nsxpass">NSX Password</label>
                    <input type="password" name="nsxpass" placeholder="Password" "{{request.form.nsxpass}}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </section>
        </form>
    </div>
</body>

</html>
{% endblock %}