<!DOCTYPE html> {% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %} {% assets "css_all" %}
<link rel=stylesheet type="text/css" href="{{ ASSET_URL }}"> {% endassets %}
<style>
    header .branding {
        display: flex;
        align-items: center;
    }
</style>
<html lang="en">

<head>
    <title>
        Gideon - Py-VMware-Alexa
    </title>
</head>

<header class="header-6">
    <div class="branding">
        <clr-icon shape="vm"></clr-icon>
        <span class="title">Py-VMware-Alexa</span>
    </div>
    <div class="header-nav">
        {% if session['logged_in']==True %}
            <a href="/" class="nav-link nav-text">Home</a>
            <a href="/configure/" class="nav-link nav-text">Configuration</a>
            <a href="/commands/" class="nav-link nav-text">Alexa Commands</a> 
            <div class="header-actions">
                <a href="/logout/" class="nav-link nav-text">
                    Log Out
                </a>
            </div>
        {% else %}
            <a href="/" class="nav-link nav-text">Home</a> 
        {% endif %}
    </div>
</header>

<body>
    <div>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <div class="alert alert-danger">
    <button type="button" class="close" aria-label="Close">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
    </button>
    <div class="alert-item">
        <span>
            {{ message }}
        </span>
    </div>
</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% block body %}{% endblock %}
</body>
</html>